<template name="navbar">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Drink me</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'cocktails'}}">Cocktails</a></li>
        <li><a href="{{pathFor 'cabinet'}}">My Cabinet</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{ loginButtons }} <!-- here -->
      </ul>
    </div>
  </div>
</template>