<template name="about">
  <div class="container">
    <div class="row">
      <div class='col-lg-4 col-md-4'></div>
      <div class='col-lg-4 col-md-4'>
        <h1>About Drink Me</h1>
        <p>The idea for this project came from my desire to learn how to add a relational database to my final project for General Assembly.</p>
        <p>My friends wanted a way to, at a glance, see what cocktails they could make based on what they had in their liquor cabinet. So, I started making Drink Me. It is written completely in Meteor.js, using MongoDB as the database, and Twitter Bootstrap for the styling.</p>
        <p>I welcome any and all feedback, as this is a very young app that needs a lot of love. Feel free to fork this at <a href="http://github.com/Ryabrandt/drink-me">my github</a> and send me a pull request, even if it's just on the to-do file, so I can see what people want the most.</p>
        <p>I hope you enjoy using my app.</p><br><br>
        <h1>About Me</h1>
        <p>Hi, I'm Ryan. I am a software developer and Javascript enthusiast who has just completed an immersive Web Development program with General Assembly. I spent twelve weeks learning back and front end systems and technologies including Ruby, Javascript, SQL, Rails, Angular, Backbone, and many others.</p> 
        <p>I come from a restaurant background where I acquired a love of food, wine, cocktails, and good customer service. I am currently looking for a job as a junior developer. You can find out more about me and my projects on my <a href="http://linkedin/in/ryabrandt">Linkedin Profile.</a>
      </div>
      <div class='col-lg-4 col-md-4'></div>
    </div>
  </div>
</template>