<template name="about">
  <div class="container">
      <div class="row">
        <div class='col-lg-4 col-md-4'></div>
        <div class='col-lg-4 col-md-4'>
          <h1>About Drink Me</h1>
          <p>This project came about as an idea for my desire to learn how to use a relational database to make an app for my final project at General Assembly. My friends wanted a way to, at a glance, see what cocktails they could make based on what they had in their liquor cabinet, and so I started making Drink Me. It is written completely in Meteor.js using MongoDB as the database and with Twitter Bootstrap for styling.</p>
          <p>I welcome any and all feedback, as this is a very young app that needs a lot of love in the form of refactoring and new features. Feel free to fork this at <a href="http://github.com/Ryabrandt/drink-me">my github</a> and send me a pull request, even if it's just on the Todo file for me to see what people want the most. I hope you enjoy using my app.</p><br><br>
          <h1>About Me</h1>
          <p>Hi, I'm Ryan. I am a software developer and Javascript enthusiast who has just completed an immersive Web Development program with General Assembly, in which I spent twelve weeks learning back and front end systems and technologies including Ruby, Javascript, SQL, Rails, Angular, Backbone, and many others. I come from a restaurant background where I acquired a love of food, wine, cocktails, and good customer service. I am currently looking for a job as a junior developer. You can find out more about me and my projects at my <a href="http://linkedin/in/ryabrandt">Linkedin Profile.</a>
        </div>
        <div class='col-lg-4 col-md-4'></div>
</template>