<head>
  <title>Drink Me</title>
</head>

<body>
</body>

<template name="layout">
  {{>navbar}}
  <div class="container-fluid">
    <div class="row">
      {{yield}}
    </div>
  </div>
  {{>footsie}}
</template>

<template name="hello">
  <div class="col-md-4 col-lg-4">
  </div>
  <div class="col-md-4 col-lg-4 text-center">
    <a href="{{pathFor 'cocktails'}}"><img class='drinkImg' src="/logobig.png"/></a><br>
    <h4>{{greeting}}</h4>
  </div>
  <div class="col-md-4 col-lg-4">
  </div>
</template>

<template name="profilePage">
  <div class="col-md-4 col-lg-4">
  </div>
  <div class="col-md-4 col-lg-4 text-center">
    <!-- Addresses the user based on their sign up e-mail
         or their real name supplied by Twitter log in. -->
    {{#if currentUser.services.twitter}}
    <h1>Welcome back {{currentUser.profile.name}}!!</h1>
    {{/if}}
    {{#if currentUser.emails}}
    <h1>Welcome back {{currentUser.emails.[0].address}}!!</h1>
    {{/if}}
  </div>
  <div class="col-md-4 col-lg-4">
  </div>
</template>
