<head>
  <title>Drink Me</title>
  <link rel='shortcut icon' type='image/png' href='/favicon.ico' />
</head>

<body>
</body>

<template name="layout">
  {{>navbar}}
  <div class="container-fluid">
    <div class="row">

      {{yield}}
    </div>
  </div>
</template>

<template name="hello">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4 text-center">
    <img src="/logobig.png"><br>
    <h4>{{greeting}}</h4>
  </div>
  <div class="col-lg-4">
  </div>
</template>

<template name="profilePage">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4 text-center">
    {{#if currentUser.services.twitter}}
    <h1>Welcome back {{currentUser.profile.name}}!!</h1>
    {{/if}}
    {{#if currentUser.emails}}
    <h1>Welcome back {{currentUser.emails.[0].address}}!!</h1>
    {{/if}}

    <button class="btn btn-default newDrinkButton">New Drink</button>
  </div>
  <div class="col-lg-4">
  </div>
</template>
