<template name="cocktails">
  <div class="col-md-4 col-lg-4">
  </div>
  <div class="col-md-4 col-lg-4">
    <!-- Iterates through all drinks found from the allDrinks function
         and creates divs for all of them -->
    {{#each allDrinks}}
    <div class="makeCocktailPretty">
      <img src="bird_blue_32.png" class="tweetButton"/>
      <h3> {{name}}</h3> 
        <p><strong>Glass:</strong> {{glass}} </p>
        <p><strong>Ingredients:</strong></p>
      <ul>
        {{#each ingredients}}
          <li>{{name}} - {{quantity}}</li>
        {{/each}}
      </ul>
      <p><strong>Directions:</strong> {{directions}}</p>
    </div><br><br>
    {{/each}}  
  </div>
  <div class="col-md-4 col-lg-4">
  </div>
</template>