<template name="cocktails">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    {{#each allDrinks}}
    <div class="makeCocktailPretty">
      <h3> {{name}}</h3>
        <p>Glass: {{glass}} </p>
        <p>Ingredients:</p>
      <ul>
        {{#each ingredients}}
          <li>{{name}} - {{quantity}}</li>
        {{/each}}
      </ul>
      <p class="drinkDirections">Directions: {{directions}}</p>
      <button class="btn btn-default tweetButton">Tweet this Drink</button>
    </div><br><br>
    {{/each}}  
  </div>
  <div class="col-lg-4">
  </div>
</template>